<div>
 <p>本のタイトル:<%= @book.title %></p>
 <p>感想:<%= @book.body %></p>
 <p>投稿ユーザー画像</p>
 <p>ユーザーネーム：<%= @book.user.name %></p>
 <% if @book.user == current_user %>
  <%= link_to "Destroy",book_path(@book),method: :delete, "data-confirm" => "本当に消しますか？" %>
 <% end %>
</div>